#container{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
button{
    font-size: 1.25em;
    padding:10px 15px;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    color: rgb(31, 31, 20);
    font-weight: bold;
    cursor:pointer;

}
button:hover{
background-color:rgb(125, 250, 250) ;

}
button:active{
    background-color: rgb(5, 248, 248);
}
input{
    font-size: 1.5rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
